.education{
    display: grid;
}

.primaryschool{
    grid-row: 1;


}

.pschimg{
    grid-column: 1; 
}

.aboutpsch{
    grid-column: 2;
}


.secondaryschool{
    grid-row: 2; 
}

.sschimg{
    grid-column: 1;
}

.juniorcollege{
    grid-row: 3;
}

.jcimg{
    grid-column: 1;
}