@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: rgb(219, 219, 219);     
    padding-right: 50px;
    padding-left: 50px;
    animation: 1s ease-out 0s 1 fadeIn;
    padding: 40px;
    font-family: montserrat;}

    @keyframes fadeIn {
        0% {
            opacity: -100000;
            translate: translateY(-100%);
        }
        100% {
            opacity: 1;
            translate: translateY(0);
        }
    }


.topnav{
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(199, 199, 199);
}
.topnav a{
    float: right;
    color: black;
    font-size: 25;
    padding: 20px;
    text-decoration:none;
    transition: 0.2s all ease-in-out;
    font-family: montserrat;}

.topnav a:hover{
    transform: scale(1.025);
    color: red;
    cursor: crosshair;
}

.topnav a.active{
    font-weight: bold;


}

.copyright{
    font-size: 20;
}


@media only screen and (max-device-width: 480px){

}