@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: rgb(219, 219, 219);     
    padding-right: 50px;
    padding-left: 50px;
    animation: 1s ease-out 0s 1 fadeIn;
    padding: 20px;
    font-family: montserrat;}


.topnav{
    overflow: hidden;}

.topnav a{
    float: right;
    color: black;
    font-size: 25;
    padding: 20px;
    text-decoration:none;
    transition: 0.2s all ease-in-out;
    font-family: montserrat;}

.topnav a:hover{
    transform: scale(1.025);
    color: red;
}

.topnav a.active{
    font-weight: bold;


}




.copyright{
    font-size: 20;
}