@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: rgb(219, 219, 219);     
    padding-right: 50px;
    padding-left: 50px;
    animation: 1s ease-out 0s 1 fadeIn;
    padding: 40px;
font-family: montserrat;}


#name {
    font-size: 65px;
    text-align: right;
    padding-right: 100;
}

#gist {
    font-size: 40px;
    padding-right: 35px;
    line-height: 0.7;
    margin-right: 100;
    padding-top: 50;
    }

#aboutme {
    float:left;
    padding-top: 200;
    padding-left: 100;
    padding-right: 100;
    text-align: justify;
    font-size: 30;
}
    

@keyframes fadeIn {
    0% {
        opacity: -100000;
        translate: translateY(-100%);
    }
    100% {
        opacity: 1;
        translate: translateY(0);
    }}


.duck{
    max-width: 500;
    max-height: 800;
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 100;
    margin-right: auto;
    transition: 0.2s all ease-in-out
}

.duck:hover{
    transform: scale(1.1)
}

#student{
    transition: 0.4s all ease-in-out}
#student:hover{
    transform:scale(1.05);
    color: maroon;
}

#developer{
    transition: 0.4s all ease-in-out}
#developer:hover{
    transform:scale(1.05);
    color: maroon;
}


#icons{
    float: right;
    margin-right:140;
}

#spotlight{
    font-size:80;
    padding-top: 550;
}


#spotproj{
    padding-left: 40;
}

#education{
    font-size: 80;
}

.ssch{
    display: grid;
}


.acslogo{
    max-width: 600;
    max-height: 600;
    padding-bottom: 30;


}

.schoolyear{
    float:bottom;
    font-size: 35;
}

.aboutpsch{
    float:right;


}

.sschimages{
    display: grid;
    column-gap:
}

.sstlogo{
    max-width: 600;
    max-height: 600;
    padding-top: 30;
    padding-bottom: 20;
    grid-column: 1;
}

.space{
    grid-column-start: 3;
    grid-column-end: 20;
}

.inclogo{
    grid-column: 2;
    padding-top: 40;

}

.jpjclogo{
    max-width: 600;
    max-height: 600;
}

