@import url(https://fonts.googleapis.com/css?family=Montserrat);




#name {
    font-size: 65px;
    text-align: right;
    padding-right: 60;
}

#gist {
    font-size: 40px;
    padding-right: 35px;
    line-height: 0.7;
    margin-right: 100;
    padding-top: 50;
    }

.fa {
    color:rgb(0, 0, 0);
    transition: color 0.2s ease;
    padding: 15;
}

.fa:hover{
    color:rgb(63, 63, 63);
    cursor: help
}


#aboutme {
    padding-top: 200;
    padding-left: 100;
    padding-right: 100;
    text-align: justify;
    font-size: 30;
}
    

@keyframes fadeIn {
    0% {
        opacity: -100000;
        translate: translateY(-100%);
    }
    100% {
        opacity: 1;
        translate: translateY(0);
    }}


.duck{
    max-width: 500;
    max-height: 800;
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 100;
    margin-right: auto;
    transition: 0.2s all ease-in-out;
    padding-bottom: 50;
    padding-right: 20;
}

.duck:hover{
    transform: scale(1.1)
}

#student{
    transition: 0.4s all ease-in-out}
#student:hover{
    transform:scale(1.05);
    color: maroon;
}

#developer{
    transition: 0.4s all ease-in-out}
#developer:hover{
    transform:scale(1.05);
    color: maroon;
}


#icons{
    float: right;
    margin-right:140;
}

#spotlight{
    font-size:80;
    padding-top: 550;
}


#spotproj{
    padding-left: 40;
}



@media only screen and (max-device-width: 480px) {
    .duck{
        display: block;
        margin: auto;
        float: none;
        padding-right: 0;
        max-width: 600;
    }
    #gist{
        font-size: 50;
    }

    #aboutme{
        font-size: 50;
    }
}