@import url(https://fonts.googleapis.com/css?family=Montserrat);


.menu{
    overflow: hidden;}

.menu a{
    float: right;
    color: black;
    font-size: 25;
    padding: 20px;
    text-decoration:none;
    transition: 0.2s all ease-in-out;
    font-family: montserrat;}

.menu a:hover{
    transform: scale(1.025);
    color: red;
}

.menu a.active{
    font-weight: bold;


}
