.menu{
    overflow: hidden;}

.menu a{
    float: left;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    padding: 20px;
    text-decoration:none;
    transition: 0.2s all ease-in-out;}

.menu a:hover{
    transform: scale(1.1)}

.menu a.active{
    color: white;
    font-weight: bold;


}

body{
    background-color: grey;
    color: white;
    padding-left: 20;
    padding-top: 20;
}

.projects{
    font-size: 30;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}