.mac-book-air-1 .home-2 {
  margin-right: 12px;
  width: 91px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .home-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .home-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .home-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .group-1 {
  margin: 18px 0 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 467.8px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  border-radius: 83px;
  width: 215px;
  height: 61px;
}
.mac-book-air-1 .container-1 {
  margin-bottom: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 893px;
  box-sizing: border-box;
}
.mac-book-air-1 .dsext-dskfjldsjlf {
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 70px;
  color: #000000;
}
.mac-book-air-1 .stguoidnmnfskjhlksjalkjfsd-stguoidnmnfskjhlksjalkjfsd-stguoidnmnfskjhlksjalkjfsd-stguoidnmnfskjhlksjalkjfsd-stguoidnmnfskjhlksjalkjfsd-stguoidnmnfskjhlksjalkjfsd {
  margin: 0 11.2px 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mac-book-air-1 .rectangle-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  border-radius: 83px;
  align-self: flex-start;
  width: 215px;
  height: 61px;
}
.mac-book-air-1 .container {
  margin: 56px 155.3px 98px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-air-1 .screenshot-20240419-at-61351-pm-1 {
  background: url('assets/images/Screenshot20240419At61351Pm1.png') 50% / cover no-repeat;
  width: 596px;
  height: 401px;
}
.mac-book-air-1 .container-2 {
  margin: 0 24px 35px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-3 {
  background: #D9D9D9;
  margin-right: 27px;
  align-self: center;
  width: 1095px;
  height: 192px;
}
.mac-book-air-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 57px 75px 83px;
  width: 1440px;
  box-sizing: border-box;
}
